# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Vite build output
dist/

# Local environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs and temporary files
logs/
*.log
*.swp
.tmp/
.cache/

# System and editor-specific files
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git and version control
.git
.gitignore
